@font-face {
    font-family: calculator;
    src: url("Calculator.ttf");
  }

body {
    background-image: url(blob.svg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100vh;
}

#calc {
    box-sizing: border-box;
    padding: 24px;
    width: 400px;
    height: 600px;
    background-color: #021c31;
    float: right;
    border: white solid 2px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 
                0px 54px 55px, rgba(0, 0, 0, 0.12) 
                0px -12px 30px, rgba(0, 0, 0, 0.12) 
                0px 4px 6px, rgba(0, 0, 0, 0.17) 
                0px 12px 13px, rgba(0, 0, 0, 0.09) 
                0px -3px 5px;
    
    display: flex;
    flex-direction: column;
}

#screen {
    background-color: #96446e;
    box-sizing: border-box;
    color: white;
    text-align: end;
    box-shadow: rgba(0, 0, 0, 0.25) 
                0px 54px 55px, rgba(0, 0, 0, 0.12) 
                0px -12px 30px, rgba(0, 0, 0, 0.12) 
                0px 4px 6px, rgba(0, 0, 0, 0.17) 
                0px 12px 13px, rgba(0, 0, 0, 0.09) 
                0px -3px 5px;
    padding: 16px;
    flex: 1;
    margin-bottom: 36px;
    font-family: "calculator";
    font-size: 48px;
    word-wrap: break-word;
    border: white solid 1px;
}

.row {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

button {
    flex: 1;
    background-color: #96446e;
    color: white;
    box-sizing: border-box;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 
                0px 54px 55px, rgba(0, 0, 0, 0.12) 
                0px -12px 30px, rgba(0, 0, 0, 0.12) 
                0px 4px 6px, rgba(0, 0, 0, 0.17) 
                0px 12px 13px, rgba(0, 0, 0, 0.09) 
                0px -3px 5px;
    border-radius: 30px;
    text-align: center;
    font-size: 24px;
}

#clear {
    flex: 4;
}

#divide,
#times, 
#plus,
#minus {
    background-color: #fbaf3c;
}


